body {
    background-color: #04a6eb;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 5px 20px;
    background: linear-gradient(#9dcaf0, #3c3a3a);
    border-style: none;
    border-radius: 10px;
    box-shadow: 2px 3px 5px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(#648aa6, #1c1a1a);
}

input {
    height: 20px;
}